# Exclude your personal dataset from repository
/resources
/Tracker/ocv_app/output.avi

# Exclude visual studio code metadata
/Tracker/ocv_app/.vscode
/Tracker/.vscode
/Tracker/.idea
/.vscode

# Exclude python cache
/Tracker/ocv_app/__pycache__
